Repository 4paradigm/spark, pull requests merged in 2022-10, with the labels that each got.

#27 feat: merge openmldb patch to v321
  .github/workflows/cicd.yml
  core/pom.xml
  dev/make-distribution.sh
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/joinTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/JoinTypesTest.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastHashJoinExec.scala
Labels: INFRA, BUILD, CORE, SQL

#32 fix: fix cicd stackoverflow and change to self-hosted
  .github/workflows/cicd.yml
Labels: INFRA, BUILD

#33 feat: upgrade 0.6.4
  core/pom.xml
Labels: BUILD, CORE

#34 feat: change curator version to 4.2.0 for hadoop 2.7
  pom.xml
Labels: BUILD
